@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
}

.full-body {
    height: Auto;
    font-family: "Roboto", serif;
}

.ShooliniSocial_Section{
  width: 100%;
  height: auto;
}

.shoolinisocialtext_container{
  display: flex;
  width: 60%;
  flex-direction: column;
  background-color: #fff;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3%;
}

/* Shoolini Social Text */

.shoolinisocial_text{
  padding-left: 2%;
  font-weight: 400;
  text-align: justify;
  border-left: 5px solid #ff4d4d;
  line-height: 2;
}

/* Shoolini Social Button */
.shoolinisocial_button{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
}

.shoolinisocialbutton {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.shoolinisocialbutton:hover {
  background-color: #ff4d4d;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.shoolinisocialbutton:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .shoolinisocialbutton {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}